.button {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#46aace, #1f789b);
    -fx-background-radius: 0, 0, 0;
}

.button:hover {
    -fx-background-color: linear-gradient(#419dbf, #175b75);
}